## The following requirements were added by pip --freeze:
#Jinja2==2.7.3
MarkupSafe==0.23
#Pygments==1.6
#Sphinx==1.2.3
cairocffi==0.6
cffi==0.8.6
coverage==3.7.1
#docutils==0.12
nose==1.3.4
numpydoc==0.5
pycparser==2.10
pyparsing==2.0.2
svgwrite==1.1.6
#wsgiref==0.1.2
